In [39]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

import netCDF4
import glob

In [52]:
sector_power = pd.read_csv('/Users/Coline/Google Drive/EEM20/dataEEM20/windpower_task0_updated.csv')

In [53]:
predictions = np.concatenate([np.percentile(sector_power['SE1'].values, [10, 20, 30, 40, 50, 60, 70, 80, 90]),
                              np.percentile(sector_power['SE2'].values, [10, 20, 30, 40, 50, 60, 70, 80, 90]),
                              np.percentile(sector_power['SE3'].values, [10, 20, 30, 40, 50, 60, 70, 80, 90]),
                              np.percentile(sector_power['SE4'].values, [10, 20, 30, 40, 50, 60, 70, 80, 90])])

In [54]:
filelist = listoffiles=(glob.glob("/Users/Coline/Google Drive/EEM20/dataEEM20/nwp/Comp data/*.nc"))

In [55]:
timestamp_list = []
timestamp_df = pd.DataFrame()

for file in filelist:
    weather = netCDF4.Dataset(file, 'r')
    var = weather.variables['time']
    Timestamp = netCDF4.num2date(var[:], units=var.units)
    timestamp_list.append(Timestamp)
    
for i in range(0, len(timestamp_list)):
    df = pd.DataFrame(timestamp_list[i])
    timestamp_df = pd.concat([timestamp_df, df])

In [56]:
timestamp_df

                      0
0   2001-01-01 00:00:00
1   2001-01-01 01:00:00
2   2001-01-01 02:00:00
3   2001-01-01 03:00:00
4   2001-01-01 04:00:00
..                  ...
19  2001-02-28 19:00:00
20  2001-02-28 20:00:00
21  2001-02-28 21:00:00
22  2001-02-28 22:00:00
23  2001-02-28 23:00:00

[1416 rows x 1 columns]

In [57]:
predictions_df = (pd.DataFrame(predictions)).T
predictions_df.columns = ['q10_SE1', 'q20_SE1', 'q30_SE1', 'q40_SE1', 'q50_SE1', 'q60_SE1', 'q70_SE1', 'q80_SE1', 'q90_SE1',
                         'q10_SE2', 'q20_SE2', 'q30_SE2', 'q40_SE2', 'q50_SE2', 'q60_SE2', 'q70_SE2', 'q80_SE2', 'q90_SE2',
                         'q10_SE3', 'q20_SE3', 'q30_SE3', 'q40_SE3', 'q50_SE3', 'q60_SE3', 'q70_SE3', 'q80_SE3', 'q90_SE3',
                         'q10_SE4', 'q20_SE4', 'q30_SE4', 'q40_SE4', 'q50_SE4', 'q60_SE4', 'q70_SE4', 'q80_SE4', 'q90_SE4']

In [58]:
predictions_df

,q10_SE1,q20_SE1,q30_SE1,q40_SE1,q50_SE1,q60_SE1,q70_SE1,q80_SE1,q90_SE1,q10_SE2,...,q90_SE3,q10_SE4,q20_SE4,q30_SE4,q40_SE4,q50_SE4,q60_SE4,q70_SE4,q80_SE4,q90_SE4
0,19.490983,38.002512,60.8805,91.230008,131.842297,180.206103,238.702726,313.494548,411.997604,67.755617,...,1380.238959,66.760975,122.385728,176.430034,240.034226,317.221167,416.249731,545.163782,709.716456,993.026341

In [59]:
duplicate_predictions = pd.concat([predictions_df]*1416, ignore_index=True)
duplicate_predictions

,q10_SE1,q20_SE1,q30_SE1,q40_SE1,q50_SE1,q60_SE1,q70_SE1,q80_SE1,q90_SE1,q10_SE2,...,q90_SE3,q10_SE4,q20_SE4,q30_SE4,q40_SE4,q50_SE4,q60_SE4,q70_SE4,q80_SE4,q90_SE4
0,19.490983,38.002512,60.8805,91.230008,131.842297,180.206103,238.702726,313.494548,411.997604,67.755617,...,1380.238959,66.760975,122.385728,176.430034,240.034226,317.221167,416.249731,545.163782,709.716456,993.026341
1,19.490983,38.002512,60.8805,91.230008,131.842297,180.206103,238.702726,313.494548,411.997604,67.755617,...,1380.238959,66.760975,122.385728,176.430034,240.034226,317.221167,416.249731,545.163782,709.716456,993.026341
2,19.490983,38.002512,60.8805,91.230008,131.842297,180.206103,238.702726,313.494548,411.997604,67.755617,...,1380.238959,66.760975,122.385728,176.430034,240.034226,317.221167,416.249731,545.163782,709.716456,993.026341
3,19.490983,38.002512,60.8805,91.230008,131.842297,180.206103,238.702726,313.494548,411.997604,67.755617,...,1380.238959,66.760975,122.385728,176.430034,240.034226,317.221167,416.249731,545.163782,709.716456,993.026341
4,19.490983,38.002512,60.8805,91.230008,131.842297,180.206103,238.702726,313.494548,411.997604,67.755617,...,1380.238959,66.760975,122.385728,176.430034,240.034226,317.221167,416.249731,545.163782,709.716456,993.026341
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1411,19.490983,38.002512,60.8805,91.230008,131.842297,180.206103,238.702726,313.494548,411.997604,67.755617,...,1380.238959,66.760975,122.385728,176.430034,240.034226,317.221167,416.249731,545.163782,709.716456,993.026341
1412,19.490983,38.002512,60.8805,91.230008,131.842297,180.206103,238.702726,313.494548,411.997604,67.755617,...,1380.238959,66.760975,122.385728,176.430034,240.034226,317.221167,416.249731,545.163782,709.716456,993.026341
1413,19.490983,38.002512,60.8805,91.230008,131.842297,180.206103,238.702726,313.494548,411.997604,67.755617,...,1380.238959,66.760975,122.385728,176.430034,240.034226,317.221167,416.249731,545.163782,709.716456,993.026341
1414,19.490983,38.002512,60.8805,91.230008,131.842297,180.206103,238.702726,313.494548,411.997604,67.755617,...,1380.238959,66.760975,122.385728,176.430034,240.034226,317.221167,416.249731,545.163782,709.716456,993.026341
1415,19.490983,38.002512,60.8805,91.230008,131.842297,180.206103,238.702726,313.494548,411.997604,67.755617,...,1380.238959,66.760975,122.385728,176.430034,240.034226,317.221167,416.249731,545.163782,709.716456,993.026341

In [61]:
tot_predictions = pd.concat

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [49]:
tot_predictions

,0,q10_SE1,q10_SE2,q10_SE3,q10_SE4,q20_SE1,q20_SE2,q20_SE3,q20_SE4,q30_SE1,...,q70_SE3,q70_SE4,q80_SE1,q80_SE2,q80_SE3,q80_SE4,q90_SE1,q90_SE2,q90_SE3,q90_SE4
0,2001-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2001-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2001-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2827,NaN,19.490983,67.755617,104.687836,66.760975,38.002512,144.958198,184.443997,122.385728,60.8805,...,836.893665,545.163782,313.494548,1231.658513,1048.292785,709.716456,411.997604,1528.909932,1380.238959,993.026341
2828,NaN,19.490983,67.755617,104.687836,66.760975,38.002512,144.958198,184.443997,122.385728,60.8805,...,836.893665,545.163782,313.494548,1231.658513,1048.292785,709.716456,411.997604,1528.909932,1380.238959,993.026341
2829,NaN,19.490983,67.755617,104.687836,66.760975,38.002512,144.958198,184.443997,122.385728,60.8805,...,836.893665,545.163782,313.494548,1231.658513,1048.292785,709.716456,411.997604,1528.909932,1380.238959,993.026341
2830,NaN,19.490983,67.755617,104.687836,66.760975,38.002512,144.958198,184.443997,122.385728,60.8805,...,836.893665,545.163782,313.494548,1231.658513,1048.292785,709.716456,411.997604,1528.909932,1380.238959,993.026341
2831,NaN,19.490983,67.755617,104.687836,66.760975,38.002512,144.958198,184.443997,122.385728,60.8805,...,836.893665,545.163782,313.494548,1231.658513,1048.292785,709.716456,411.997604,1528.909932,1380.238959,993.026341

# Prepare inputs for neural network

In [1]:
import numpy as np
import pandas as pd
import netCDF4
import glob
from scipy import interpolate
import tqdm
from scipy.spatial.distance import cdist
import datetime

In [2]:
import os
os.chdir('/Volumes/My Passport/eem20/')

In [3]:
# turbine features
turbines = pd.read_csv('data_turbines/windturbines_fillna_shiftlon.csv')
turbines.drop(columns=['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1'], inplace=True)

# construct weather grid
weather = netCDF4.Dataset('data_weather/20000915T00Z.nc', 'r')
lats = weather.variables['latitude'][:,:]
lons = weather.variables['longitude'][:,:]
grid = np.column_stack([lons.flatten(), lats.flatten()])
grid_x = []
grid_y = []

# pull out latlon of turbine
for i in tqdm.tqdm(range(len(turbines))):
    
    # position of turbine
    lonlat = np.column_stack([turbines[turbines.index == i]['Longitude'].values, turbines[turbines.index == i]['Latitude'].values])

    # calculate distances to weather grid positions
    distance = cdist(grid, lonlat).reshape(169, 71, 1)

    # index of closest gridpoint
    grid_x += [np.where(distance == min(distance.flatten()))[0][0]]
    grid_y += [np.where(distance == min(distance.flatten()))[1][0]]
    
# add to dataframe
turbines.insert(len(turbines.columns), "grid x", grid_x, True)
turbines.insert(len(turbines.columns), "grid y", grid_y, True)

100%|██████████| 4004/4004 [00:21<00:00, 188.24it/s]

In [4]:
# sector power
sector_power = pd.read_csv('data_turbines/windpower_task1.csv')

# cut out the missing dates: May 14 2000, September 26 2000
drop_indices = []
for i in range(len(sector_power)):
    if (sector_power['Unnamed: 0'][i][3]=='0') * (sector_power['Unnamed: 0'][i][6]=='5') * (sector_power['Unnamed: 0'][i][8]=='1') * (sector_power['Unnamed: 0'][i][9]=='4'):
        drop_indices += [i]
        
    if (sector_power['Unnamed: 0'][i][3]=='0') * (sector_power['Unnamed: 0'][i][6]=='9') * (sector_power['Unnamed: 0'][i][8]=='2') * (sector_power['Unnamed: 0'][i][9]=='6'):
        drop_indices += [i]

sector_power = sector_power.drop(index=drop_indices)

In [5]:
# split turbine data by sector
turbines_SE1 = turbines[turbines['Price region']=='SE1']
turbines_SE2 = turbines[turbines['Price region']=='SE2']
turbines_SE3 = turbines[turbines['Price region']=='SE3']
turbines_SE4 = turbines[turbines['Price region']=='SE4']

In [9]:
# sort out the global time stamp list for the weather files

listoffiles = (glob.glob("round_3/Comp_data/*.nc"))
time_stamps = []
for file in listoffiles:
    weather = netCDF4.Dataset(file, 'r')
    units = weather.variables['time'].units
    Timestamp = netCDF4.num2date(weather.variables['time'][:], units=units)
    time_stamps += Timestamp.tolist()

# sort into time-ordered array
time_stamps.sort()

In [11]:
# loop over weather data

# weather features to process
weather_features = ['Temperature', 'RelativeHumidity', 'WindSpeed', 'Pressure', 'CloudCover', 'WindGustSpeed']

# number of time stamps
n_times = len(time_stamps)

weather_at_turbine_locations_SE1 = np.zeros(shape=(n_times, len(turbines_SE1.index), 2*len(weather_features)))
weather_at_turbine_locations_SE2 = np.zeros(shape=(n_times, len(turbines_SE2.index), 2*len(weather_features)))
weather_at_turbine_locations_SE3 = np.zeros(shape=(n_times, len(turbines_SE3.index), 2*len(weather_features)))
weather_at_turbine_locations_SE4 = np.zeros(shape=(n_times, len(turbines_SE4.index), 2*len(weather_features)))

# loop over netCDF weather files
for file_index in tqdm.tqdm(range(len(listoffiles))):
    
    ds = netCDF4.Dataset(listoffiles[file_index], 'r')
    units = ds.variables['time'].units
    times = netCDF4.num2date(ds.variables['time'][:], units=units)
    
    # loop over hours in this day
    for t in range(24):
        
        # index where this time stamp will go
        i = time_stamps.index(times[t])
        
        # loop over weather features
        for f in range(len(weather_features)):

            # for wind speed, combine U and V, else just pull out the feature
            if f == 2:
                data = np.sqrt(ds.variables['Wind_U'][t,:,:,:]**2 + ds.variables['Wind_V'][t,:,:,:]**2)
            else:
                data = ds.variables[weather_features[f]][t,:,:,:]
            
            # mean and std-dev
            mean = data.mean(axis=0)
            sd = data.std(axis=0)
            
            weather_at_turbine_locations_SE1[i,:,2*f] = mean[turbines_SE1['grid x'].values,turbines_SE1['grid y'].values]
            weather_at_turbine_locations_SE1[i,:,2*f+1] = sd[turbines_SE1['grid x'].values,turbines_SE1['grid y'].values]
    
            weather_at_turbine_locations_SE2[i,:,2*f] = mean[turbines_SE2['grid x'].values,turbines_SE2['grid y'].values]
            weather_at_turbine_locations_SE2[i,:,2*f+1] = sd[turbines_SE2['grid x'].values,turbines_SE2['grid y'].values]

            weather_at_turbine_locations_SE3[i,:,2*f] = mean[turbines_SE3['grid x'].values,turbines_SE3['grid y'].values]
            weather_at_turbine_locations_SE3[i,:,2*f+1] = sd[turbines_SE3['grid x'].values,turbines_SE3['grid y'].values]

            weather_at_turbine_locations_SE4[i,:,2*f] = mean[turbines_SE4['grid x'].values,turbines_SE4['grid y'].values]
            weather_at_turbine_locations_SE4[i,:,2*f+1] = sd[turbines_SE4['grid x'].values,turbines_SE4['grid y'].values]

100%|██████████| 61/61 [02:55<00:00,  2.88s/it]

In [12]:
# trim the turbine feature data to only contain the four relevant things
turbine_features = ['Terrain height [m]', 'Nacelle height [m]', 'Rotor diameter [m]', 'Max power [MW]']

turbines_SE1 = np.column_stack([turbines[turbines['Price region']=='SE1'][turbine_features[i]].values for i in range(len(turbine_features))])
turbines_SE2 = np.column_stack([turbines[turbines['Price region']=='SE2'][turbine_features[i]].values for i in range(len(turbine_features))])
turbines_SE3 = np.column_stack([turbines[turbines['Price region']=='SE3'][turbine_features[i]].values for i in range(len(turbine_features))])
turbines_SE4 = np.column_stack([turbines[turbines['Price region']=='SE4'][turbine_features[i]].values for i in range(len(turbine_features))])

In [13]:
# installation dates
installation_dates = []
for sector in ['SE1', 'SE2', 'SE3', 'SE4']:
    
    turbines_sector = turbines[turbines['Price region']==sector].reset_index()
    
    installation_date = []
    for i in range(len(turbines_sector)):
        if turbines_sector['Installation date'][i] == '1881-12-31':
            installation_date += [datetime.datetime.strptime(turbines_sector['Installation date'][i], '%Y-%m-%d')]
        else:
            installation_date += [datetime.datetime.strptime(turbines_sector['Installation date'][i], '%d/%m/%y')]
    
    # re-base dates (eg., `64 should be 1964, not 2064 as come out from the above)
    for i in range(len(installation_date)):
        if installation_date[i].year > 2020:
            installation_date[i] = installation_date[i].replace(year = installation_date[i].year - 100)
        
    installation_dates.append(installation_date)
    
installed = []
for s in range(4):
    
    install = np.zeros((len(time_stamps), len(installation_dates[s]), 1))
    
    # compare install dates to the weather time stamps
    for i in range(len(time_stamps)):
        for j in range(len(installation_dates[s])):
            install[i,j,0] = int(installation_dates[s][j] < time_stamps[i])
    
    installed.append(install)

In [14]:
# save everything to file

np.save('round_3/data_prepared/weather_at_turbine_locations_SE1.npy', weather_at_turbine_locations_SE1)
np.save('round_3/data_prepared/weather_at_turbine_locations_SE2.npy', weather_at_turbine_locations_SE2)
np.save('round_3/data_prepared/weather_at_turbine_locations_SE3.npy', weather_at_turbine_locations_SE3)
np.save('round_3/data_prepared/weather_at_turbine_locations_SE4.npy', weather_at_turbine_locations_SE4)

np.save('round_3/data_prepared/turbines_SE1.npy', turbines_SE1)
np.save('round_3/data_prepared/turbines_SE2.npy', turbines_SE2)
np.save('round_3/data_prepared/turbines_SE3.npy', turbines_SE3)
np.save('round_3/data_prepared/turbines_SE4.npy', turbines_SE4)

np.save('round_3/data_prepared/sector_power_SE1.npy', np.atleast_2d(sector_power['SE1'].values).T)
np.save('round_3/data_prepared/sector_power_SE2.npy', np.atleast_2d(sector_power['SE2'].values).T)
np.save('round_3/data_prepared/sector_power_SE3.npy', np.atleast_2d(sector_power['SE3'].values).T)
np.save('round_3/data_prepared/sector_power_SE4.npy', np.atleast_2d(sector_power['SE4'].values).T)

np.save('round_3/data_prepared/installed_SE1.npy', installed[0])
np.save('round_3/data_prepared/installed_SE2.npy', installed[1])
np.save('round_3/data_prepared/installed_SE3.npy', installed[2])
np.save('round_3/data_prepared/installed_SE4.npy', installed[3])

In [11]:
# calculate shifts and scales for the turbine feature and weather inputs

turbine_features_shift = np.median(np.row_stack([turbines_SE1, turbines_SE2, turbines_SE3, turbines_SE4]), axis=0)
turbine_features_scale = np.max(np.row_stack([turbines_SE1, turbines_SE2, turbines_SE3, turbines_SE4]), axis=0) - np.min(np.row_stack([turbines_SE1, turbines_SE2, turbines_SE3, turbines_SE4]), axis=0)

weather_features_shift = np.median(np.concatenate([weather_at_turbine_locations_SE1,
                                        weather_at_turbine_locations_SE2,
                                        weather_at_turbine_locations_SE3,
                                        weather_at_turbine_locations_SE4], axis=1), axis=(0,1))

weather_features_scale = np.max(np.concatenate([weather_at_turbine_locations_SE1,
                                        weather_at_turbine_locations_SE2,
                                        weather_at_turbine_locations_SE3,
                                        weather_at_turbine_locations_SE4], axis=1), axis=(0,1)) - \
                         np.min(np.concatenate([weather_at_turbine_locations_SE1,
                                        weather_at_turbine_locations_SE2,
                                        weather_at_turbine_locations_SE3,
                                        weather_at_turbine_locations_SE4], axis=1), axis=(0,1))

np.save('data_prepared/turbine_features_shift.npy', turbine_features_shift)
np.save('data_prepared/turbine_features_scale.npy', turbine_features_scale)
np.save('data_prepared/weather_features_shift.npy', weather_features_shift)
np.save('data_prepared/weather_features_scale.npy', weather_features_scale)